.about {
  margin-top: calc(var(--height-header) + 20px);
  margin-bottom: 40px;

}
.nameStore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.nameStore::before {
    content: '';
    display: block;
    height: 2px;
    width: 200px;
    background-color: #ccc;
    margin-right: 10px;
}
.nameStore::after {
    content: '';
    display: block;
    height: 2px;
    width: 200px;
    background-color: #ccc;
    margin-left: 10px;

}
.description {
    text-align: center;
    font-size: 1.3rem;
    line-height: 2.4;
    margin: 10px 0;
}

.share {
    padding: 15px 10px;
    background-color: #ececec;
}
.share-link {
    color: blue;
    padding: 0 20px;
}