.img_banner {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.btn_move {
  padding: 12px 15px;
  border-radius: 50%;
  border: 3px solid #87c762;
}

.cart_body {
  display: flex;
  justify-content: space-between;
}

.btn_coppy {
  background-color: #87c762;
  padding: 10px;
  border-radius: 20px;
  margin-top: 5px;
  color: white;
}

.btn_coppy:hover {
  background-color: #56c019;
}
.btn_condition {
  color: blue;
}
.cards_wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card_sale {
  border-radius: 15px;
  border-left: 1px dotted #ccc;
  background-color: #cccccc71;
}
.text_title {
  color: rgba(255, 255, 255, 0.795);
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-top: 10px;
}

.card_love {
  height: 400px;
  padding: 20px;
  width: 100%;
  background-color: #ec71c3;
  border-radius: 10px;
}
.card {
  background-color: white;
  display: "flex";
  justify-content: "center";
  align-items: "center";
  text-align: center;
  margin-left: 14%;
  border-radius: 10px;
}

.description {
  font-size: 1.1rem;
  text-align: center;
  padding: 5px 0;
}

.img_love {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin: 0 15px;
}
.img_love:hover {
  opacity: 0.8;
}

.title {
  position: relative;
  display: inline-block;
}
.love {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ec71c3;
  border-radius: 10px;
  padding: 5px 10px;
}

.bestseller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #50b9b9;
  border-radius: 10px;
  padding: 20px 10px;
}

.jump:nth-child(4) {
  position: absolute;
  font-weight: 800;
  right: -12%;
  top: -4%;
  color: red;
  animation: jump 1.6s infinite;
}

.title .jump:nth-child(3) {
  position: absolute;
  font-weight: 800;
  right: -9%;
  top: -4%;
  color: red;
  animation: jump 1.3s infinite;
}
.jump:nth-child(2) {
  position: absolute;
  font-weight: 800;
  right: -5%;
  top: -4%;
  color: red;
  animation: jump 1s infinite;
}

@keyframes jump {
  from {
    top: -10px;
  }
  to {
    top: -15px;
  }
}

/* clock */

.clock {
  display: flex;
  align-items: center;
  padding: 20px 3%;
  color: #fff;
  border-radius: 10px;
}

.clock_text {
  margin: 0 10px;
  font-size: 1.2rem;
}

.clock_text:nth-child(2) {
  padding: 10px 15px;
  background-color: rgb(218, 203, 72);
  border-radius: 10px;
}
.clock_text:nth-child(3) {
  padding: 10px 15px;
  background-color: rgb(218, 203, 72);
  border-radius: 10px;
}
.clock_text:nth-child(4) {
  padding: 10px 15px;
  background-color: rgb(218, 203, 72);
  border-radius: 10px;
}
