.img_banner {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.btn_move {
  padding: 12px 15px;
  border-radius: 50%;
  border: 3px solid #87c762;
}

.cart_body {
  display: flex;
  justify-content: space-between;
}

.btn_coppy {
  background-color: #87c762;
  padding: 10px;
  border-radius: 20px;
  margin-top: 5px;
  color: white;
}

.btn_coppy:hover {
  background-color: #56c019;
}
.btn_condition {
  color: blue;
}
.card_sale {
  border-radius: 15px;
  border-left: 1px dotted #ccc;
  background-color: #cccccc71;
}
