.message_outOfStock {
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  background: #fff;
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  opacity: 0.9;
}

.header_category {
  width: 100%;
  padding: 15px;
  font-weight: 600;
  background-color: rgb(202, 70, 70);
  color: #fff;
}

.header_category_border_bottom {
  border-bottom: 1px solid #e1e1e1;
}
