.message_outOfStock {
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  background: #fff;
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  opacity: 0.9;
}

.header_category {
  width: 100%;
  padding: 15px;
  font-weight: 600;
  background-color: rgb(202, 70, 70);
  color: #fff;
}

.header_category_border_bottom {
  border-bottom: 1px solid #e1e1e1;
}

.order-2 {
  height: max-content;
  background-color: var(--background-main-color);
  border-radius: 10px;
  padding: 20px;
}

.card {
  background-color: white;
  display: "flex";
  justify-content: "center";
  align-items: "center";
  text-align: center;
  margin-left: 14%;
  border-radius: 10px;
  margin-left: 0;
}

.product_img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin: 0 15px;
  box-shadow: 7px 12px 9px #ccc;
}
.product_img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.mb-3 .active {
  color: yellow;
  margin-left: 10px;
  text-decoration: none;
}
.mb-3 .active:hover,
.mb-3 .none_active:hover {
  cursor: pointer;
}
.mb-3 .none_active {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}
