.detail {
  margin-top: calc(var(--height-header) + 20px);
}
.product_img_carousel {
  height: 450px;
  width: 100%;
}
.product_img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin: 5px 15px;
  box-shadow: 5px 7px 20px #c0bcbc;
}
.product_img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
