body {
  font-family: "Rajdhani", sans-serif;
}

.App {
  margin-bottom: -50px;
  /* margin-top: calc(var(--height-header) + 20px); */
}

:root {
  --background-main-color: #70a552;
  --height-header: 120px;
}
